<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title of the document</title>
</head>
<body>

{% block body %}

    <h1>Welcome <strong>{{ user.username }}</strong> this email send your new password.</h1>
    <p>Your new password is: <strong>{{ password }}</strong>
        <a href="{{ app.request.getSchemeAndHttpHost() }}{{ path('login') }}">click here</a> to login !</p>

{% endblock %}



</body>

</html>