{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-9">
        <div>
            {% include('@Shop/notice.html.twig') %}
        </div>

        {% include('@Shop/purchase/cart_content_information') %}
        <div id="user-form-container" class="col-xl-12">
            <div class="card">
                <div class="card-header"><h4>Your client data</h4></div>
                <div class="card-body" style="background-color: #b0b0b0">
                    {{ form_start(userForm) }}
                    {{ form_widget(userForm) }}
                    <button type="submit" class="btn btn-success btn-lg">Continue <i class="icon-arrow-right"></i>
                    </button>
                    {{ form_end(userForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}