<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {% block title %}
        <title>Online Shop</title>
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% stylesheets 'assetic/bootstrap_css.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% endstylesheets %}
</head>

{% block body %}
    <div class="alert alert-danger">pich</div>
{% endblock %}

{% block javascripts %}
    {% javascripts
        'assetic/jquery.js'
        'assetic/bootstrap_js.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}
</html>
