{% extends 'admin_panel.html.twig' %}
{% block admin_body %}
    <div class="row">
        <div class="col-md-12">
            {%  include('@Shop/notice.html.twig') %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">

             {%   include('@Shop/product/nav_product.html.twig') %}
            
            <div class="jumbotron">
                {{ form_start(form,{'legend':false}) }}
                <legend>Create new product</legend>
                {{ form_row(form) }}
                {{ form_end(form) }}
            </div>

        </div>
        <div class="col-md-2"></div>
    </div>

{% endblock  %}

{% block javascripts %}

    {{ parent() }}
    <script>
        $('#new_product_tab').tab('show');
    </script>
{% endblock %}