{% extends 'admin_panel.html.twig' %}

{% block admin_body %}
    <div class="panel_heading">
        <span class="border border-primary">Create new product !</span>
    </div>
    <div class="row">
        <div class="col-md-12">
            {%  include('@Shop/notice.html.twig') %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="well">
                {{ form_start(form,{'legend':false}) }}
                {{ form_row(form) }}
               <!-- <input type="submit" class="btn btn-success" value="Create product !" />   -->
                {{ form_end(form) }}
            </div>

        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}