{% extends 'admin_panel.html.twig' %}
{% block admin_block_title %}
    Edit product
{% endblock %}
{% block admin_body %}
    <div class="row">
        <div class="col-md-12">
            {%  include('@Shop/notice.html.twig') %}
        </div>
    </div>
   {% include '@Shop/product/product_form.html.twig' %}

    {{ render(controller(
        'ShopBundle:Image:addImagesToProduct'
    )) }}
{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script src="{{ asset('js/category-filter.js') }}" ></script>
    <script src="{{ asset('js/preview_image.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('.dropdown-item').categoryFilter();
            $('#all_images_tab').categoryFilter();
        })

    </script>
{% endblock %}

