<ul id="nav_product" class="nav nav-tabs">
    <li class="nav-item">
        <a id="new_product_tab" class="nav-link " href="{{ path('create_product') }}" >New Product</a>
    </li>
    <li class="nav-item">
        <a id="all_products_tab" class="nav-link" href="{{ path('list_all_products') }}">All products</a>
    </li>
</ul>
