{% block form_start%}
    <form class="form-inline">
            {{ form_row(form) }}
{% endblock %}
{% block form_end %}
    </form>
{% endblock %}

{% block form_row -%}
    {%- set widget_attr = {} -%}
    {{- form_widget(form, widget_attr) -}}
{%- endblock form_row %}

