{% extends 'admin_panel.html.twig' %}

{% block admin_block_title %}
    Add New Role
{% endblock %}

{% block admin_body %}
    <div class="row">
        <div class="col-md-12">{% include '@Shop/notice.html.twig' %}</div>
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Available Role</th>
                </tr>
                </thead>
                <tbody>
                    {% for role in roles %}
                        <tr>
                            <td>{{ role.id }}</td>
                            <td>{{ role.name }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                </table>
            <p>Consider carefully the creation of roles</p>
            <p>Add user role</p>
            {{ form(form) }}
            <a href="{{ path('user_manager') }}"><-- List All Users</a>
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}