{% extends 'admin_panel.html.twig' %}

{% block title %}
    <title>Change password</title>
{% endblock %}

{% block admin_block_title %}
    Change Password
{% endblock %}

{% block admin_body %}
    <div class="row">
        <div class="col-md-12">{% include '@Shop/notice.html.twig' %}</div>
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="jumbotron">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <a class="btn btn-large btn-default" href="{{ path('my_profile',{'id':app.user.id}) }}">Cancel</a>
                <input class="btn btn-large btn-success" type="submit" value="Save !">
                {{ form_end(form) }}
            </div>
        </div>
        <div class="col-md-2"></div>

    </div>
{% endblock %}