{% extends '@basic/base.html.twig' %}

{% block title %}
    <title>Change password-Online Shop</title>
{% endblock %}

{% block body %}
    <div class="span9">
        <h2>Change password</h2>
        {% include '@App/notise.html.twig' %}
        <div class="well">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <a class="btn btn-large btn-default" href="{{ path('my_profile',{'id':app.user.id}) }}">Cancel</a>
            <input class="btn btn-large btn-success" type="submit" value="Save !">
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}