{% extends '@basic/base.html.twig' %}

{% block title %}
    <title>Forgot password-Online Shop</title>
{% endblock %}

{% block body %}
    <div class="span9">
        <h2>Forgot password</h2>
        {% include '@App/notise.html.twig' %}
        <div class="well">
            <p>Please insert your email !</p>
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <a class="btn btn-large btn-default" href="{{ path('login') }}">Cancel</a>
                <input class="btn btn-large btn-success" type="submit" value="Submit !">
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}