.greeting {
    color: gainsboro;
}
.panel_heading h2 {
    background: #e2e2e2;
    border-radius: 10px;
    text-align: left;
    margin-top: 1rem;
    padding: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
    color: #5c5c5c;
}

table .parent-tr{
    text-align: left;
    background: #b0b0b0;
}

table .child-tr {
    text-align: right;
}

.form-check {
    margin: 0;
    padding-left: 0;
    padding-top:1rem;
    padding-bottom: 1rem;
}

.form-check-label {
    padding-left: 0;
    font-size: 1rem;
}

.form-check-input {
    margin-left: 0.75rem;
}

.submit_row {
    padding: 1rem 0;
}

