.greeting {
    color: gainsboro;
}
.panel_heading h2 {
    background: #e2e2e2;
    border-radius: 10px;
    text-align: left;
    margin-top: 1rem;
    padding: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
    color: #5c5c5c;
}

/* Dashboard homepage    */
#user_card{
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

#product_card{
    color: #ffffff;
    background-color: #1aab1a;
    border-color: #04a20e;
}

#order_card{
    color: #ffffff;
    background-color: #ff9900;
    border-color: #a28612;
}

.dashboard-number-item {
    font-size: 3rem;
}

.dashboard-card {
    padding: 0.5rem 1rem 0.6rem;
    background-color: #ece7e7;
    color: #777;
    font-size: 1.2rem;
}

.dashboard-card a {
    color:inherit ;
}

.dashboard-card a:hover {
    text-decoration: none;
    color: #333;
}

.dashboard-read-more-icon{
    float: right;
    color: #3f3f3f;
}
/*   */

table .parent-tr{
    text-align: left;
    background: #b0b0b0;
}

table .child-tr {
    text-align: right;
}

.form-check {
    margin: 0;
    padding-left: 0;
    padding-top:1rem;
    padding-bottom: 1rem;
}

.form-check-label {
    padding-left: 0;
    font-size: 1rem;
}

.form-check-input {
    margin-left: 0.75rem;
}

.submit_row {
    padding: 1rem 0;
}

.image-list>td {
    vertical-align: middle;
}

.images_thumb {
    display: inline-block;
    width: 50px;
    padding: 1px;
    overflow: hidden;
    text-align: center;
}

.images_thumb > img {
    max-height: 60px;
    max-width: 50px;
    width: auto;
    height: auto;
}

.modal>.modal-lg {
    max-width: 1200px;
}

.product-image-card .card {
    position: relative;
    margin: 0.2rem;

}

.check-shadow{
    box-shadow: 0 0 4px 3px rgba(0, 140, 186, 0.5);
}

.product-image-card .card:hover {
    border: 1px solid rgba(0, 140, 186, 0.5);
    box-sizing: border-box;
}

.check-icon {
    display: none;
    position: absolute;
    top:-8px;
    right:-8px;
    z-index: 100;
}

.product-image-card .card  .card-header  {
    padding: 0.4rem 0.2rem;
    height: 120px;
    overflow: hidden;
    text-align: center;
}

.product-image-card .card  .card-body {
    padding: 0.4rem 0.2rem;
}

.product-image-card .card  .card-header  img {
    max-height: 110px;
    width: auto;
    height: auto;
    padding: 2px;
    border:1px solid #777;
}
.close-image-icon {
    position: absolute;
    top: -8px;
    right: -8px;
    z-index: 100;
    cursor: pointer;
    padding: 3px;
}

img.close-image-icon:hover {
    border: 1px solid rgba(0, 140, 186, 0.5);
}


.upload-form input{
    display: inline-block;
    width: inherit;
}

#shop_bundle_image_type_category {
    display: inline-block;
    width: inherit;
}

.upload-form button {
    margin-left: 3rem;
}

.navigation {
    text-align: center;
}

#nav_users {
    position: relative;
    top:-7px;
    right: 240px;
}

#order-total-field {
    background: #f8d7da;
    border: 1px solid #721c24;
    border-radius: 0.25rem;
    text-align: center;
}

#order-total-field h4 {
    font-family: "Arial Black", cursive;
    color: #721c24;
    padding: 30px 0;
}

