.greeting {
    color: gainsboro;
}
.panel_heading h2 {
    background: #e2e2e2;
    border-radius: 10px;
    text-align: left;
    margin-top: 1rem;
    padding: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
    color: #5c5c5c;
}

table .parent-tr{
    text-align: left;
    background: #b0b0b0;
}

table .child-tr {
    text-align: right;
}

.form-check {
    margin: 0;
    padding-left: 0;
    padding-top:1rem;
    padding-bottom: 1rem;
}

.form-check-label {
    padding-left: 0;
    font-size: 1rem;
}

.form-check-input {
    margin-left: 0.75rem;
}

.submit_row {
    padding: 1rem 0;
}

.image-list>td {
    vertical-align: middle;
}

.images_thumb {
    display: inline-block;
}

.images_thumb > img {
    width: 50px;
    border: 1px solid #666666;
}

.upload-form input{
    display: inline-block;
    width: inherit;
}

#shop_bundle_image_type_category {
    display: inline-block;
    width: inherit;
}

.upload-form button {
    margin-left: 3rem;
}

.navigation {
    text-align: center;
}
